<button (click)="lesson1()">都是把多的物件組成一個物件</button>
<button (click)="lesson2()">怎麼處理相同的 property </button>
<button (click)="lesson3()">怎麼處理 array 的</button>
<button (click)="lesson4()">怎麼處理 null 的</button>
<button (click)="lesson5()">怎麼處理 undefined 的</button>
<button (click)="lesson6()">怎麼處理兩層 object 的</button>
<button (click)="lesson7()">練習1</button>
<button (click)="lesson8()">練習2</button>
<div [ngSwitch]="lesson">
    <div *ngSwitchCase="1">
        <p>合併 &#123; a: '1' &#125; &#123; b: '2' &#125;</p>
    </div>
    <div *ngSwitchCase="2">

        <p>合併 &#123; a: '1' &#125; &#123; a: '2' &#125;</p>
    </div>
    <div *ngSwitchCase="3">
        <p>合併 &#123; a: ['1'] &#125; &#123; a: ['2'] &#125;</p>
    </div>
    <div *ngSwitchCase="4">
        <p>合併 &#123; a: '1' &#125; &#123; a: null &#125;</p>
    </div>
    <div *ngSwitchCase="5">
        <p>合併 &#123; a: '1' &#125; &#123; a: undefined &#125;</p>
    </div>
    <div *ngSwitchCase="6">
        <p>合併 &#123; a: &#123; c: '1' &#125; &#125; &#123; a: &#123; b: '2' &#125; &#125;</p>
    </div>
    <div *ngSwitchCase="7">
        <p>練習1</p>
    </div>
    <div *ngSwitchCase="8">
        <p>練習2</p>
    </div>
</div>
<h1>_.assign</h1>
<p>分配来源对象的可枚举属性到目标对象上。 来源对象的应用规则是从左到右，随后的<span>下一个对象的属性会覆盖上一个对象的属性。</span></p>
<h1>_.assignIn</h1>
<p>这个方法类似 _.assign， 除了它会<span>遍历并继承来源对象的属性</span>。</p>
<h1>_.merge</h1>
<p>该方法类似 _.assign， 除了它<span>递归合并</span> sources 来源对象自身和继承的可枚举属性到 object 目标对象。如果目标值存在，被解析为<span> undefined 的 sources
        来源对象属性将被跳过</span>。数组和普通对象会递归合并，其他对象和值会被直接分配覆盖。源对象从从左到右分配。后续的来源对象属性会覆盖之前分配的属性。</p>
<h1>_.defaults</h1>
<p>分配来源对象的可枚举属性到目标对象所有解析为 undefined 的属性上。 来源对象从左到右应用。 一旦设置了<span>相同属性的值，后续的将被忽略掉</span>。</p>
<h1>_.defaultsDeep</h1>
<p>这个方法类似 _.defaults，除了它会<span>递归</span>分配默认属性。</p>